.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    .card {
        padding: 10px;
        margin: 10px;

        display: flex;
        flex-direction: column;

        .counter {
            input {
                width: 40px;
            }
        }
    }
}