@import './../../../styles/colors.scss';

.card {
    padding: 10px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    background-color: $white;

    .item {
        width: 150px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        
        img {
            width: 150px;
            height: 150px;
        }
        .details {
            color: $black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .price {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;;
        input {
            width: 40px;
        }
        .counter-btn {
            background-color: $white;
            color: $orange;
            border: none;
            padding: 3px;
            cursor: pointer;
            font-size: 1.5em;
        }
        .counter-input {
            width: 40px;
            text-align: center;
            font-size: 1em;
            background-color: $white;
            border-color: unset;
            color: $black;
        }
    }

    .update-cart-btn {
        background-color: $orange;
        color: $white;
        border: none;
        padding: 5px;
        cursor: pointer;
    }
}

.card:hover {
    border: 1px solid $orange;
    box-shadow: 0 0 10px 0 $orange;
}